# STATISTIC FOR DATA SCIENCE

## Import Libraries & Read Data

In [1]:
# Import
import pandas as pd
import numpy as np

In [2]:
dataset_red = pd.read_csv("winequality-red.csv", delimiter=";")

In [3]:
dataset_red.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [4]:
dataset_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## Mean

In [5]:
# Menampilkan mean dari salah satu kolom
print('Mean dari fixed acidity: ', dataset_red['fixed acidity'].mean())

Mean dari fixed acidity:  8.319637273295838

In [6]:
# Menampilkan mean dari keseluruhan data
print(dataset_red.mean())

fixed acidity            8.319637
volatile acidity         0.527821
citric acid              0.270976
residual sugar           2.538806
chlorides                0.087467
free sulfur dioxide     15.874922
total sulfur dioxide    46.467792
density                  0.996747
pH                       3.311113
sulphates                0.658149
alcohol                 10.422983
quality                  5.636023
dtype: float64

## Median

In [7]:
# Menampilkan median salah satu kolom
print('Median dari fixed acidity: ', dataset_red['fixed acidity'].median())

Median dari fixed acidity:  7.9

In [8]:
# Jika data median yang ingin dicari adalah per row, dapat menggunakan attribut axis = 1
print(dataset_red.median(axis=1))

0       2.705
1       2.900
2       2.780
3       2.530
4       2.705
        ...
1594    2.725
1595    2.860
1596    2.860
1597    2.785
1598    3.495
Length: 1599, dtype: float64

## Mode

In [9]:
# Menampilkan modus dari salah satu kolom
print('Mode dari fixed acidity: ', dataset_red['fixed acidity'].mode())

Mode dari fixed acidity:  0    7.2
Name: fixed acidity, dtype: float64

In [10]:
# Menampilkan modus semua data
print(dataset_red.mode())

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.2               0.6          0.0             2.0       0.08

   free sulfur dioxide  total sulfur dioxide  density   pH  sulphates  \
0                  6.0                  28.0   0.9972  3.3        0.6

   alcohol  quality
0      9.5        5

## Standard Deviation

In [11]:
# Menampilkan Standard Deviation salah satu kolom
print('Standard Deviation dari fixed axidity: ', dataset_red['fixed acidity'].std())

Standard Deviation dari fixed axidity:  1.7410963181277006

In [12]:
# Menampilkan Standard Deviation semua data
print(dataset_red.std())

fixed acidity            1.741096
volatile acidity         0.179060
citric acid              0.194801
residual sugar           1.409928
chlorides                0.047065
free sulfur dioxide     10.460157
total sulfur dioxide    32.895324
density                  0.001887
pH                       0.154386
sulphates                0.169507
alcohol                  1.065668
quality                  0.807569
dtype: float64

## Variance

In [13]:
# Menampilkan Variance salah satu kolom
print('variance dari fixed acidity: ', dataset_red['fixed acidity'].var())

variance dari fixed acidity:  3.031416388997835

In [14]:
# Menampilkan Variance semua data
print(dataset_red.var())

fixed acidity              3.031416
volatile acidity           0.032062
citric acid                0.037947
residual sugar             1.987897
chlorides                  0.002215
free sulfur dioxide      109.414884
total sulfur dioxide    1082.102373
density                    0.000004
pH                         0.023835
sulphates                  0.028733
alcohol                    1.135647
quality                    0.652168
dtype: float64

## Quartile

In [15]:
# Menampilkan Q1-Q4
print('Q1 dari fixed acidity: ', np.quantile(dataset_red['fixed acidity'], 0.25))
print('Q2 dari fixed acidity: ', np.quantile(dataset_red['fixed acidity'], 0.5))
print('Q2 atau median dari fixed acidity: ', dataset_red['fixed acidity'].median())
print('Q3 dari fixed acidity: ', np.quantile(dataset_red['fixed acidity'], 0.75))

Q1 dari fixed acidity:  7.1
Q2 dari fixed acidity:  7.9
Q2 atau median dari fixed acidity:  7.9
Q3 dari fixed acidity:  9.2

In [16]:
# Menghitung interkuartil

from scipy.stats import iqr

print('Menggunakan rumus Q3-Q1: ', np.quantile(dataset_red['fixed acidity'], 0.75) - np.quantile(dataset_red['fixed acidity'], 0.25))
print('Menggunakan bantuan library scipy.stats', iqr(dataset_red['fixed acidity']))

Menggunakan rumus Q3-Q1:  2.0999999999999996
Menggunakan bantuan library scipy.stats 2.0999999999999996

In [17]:
# Cara melihat perhitungan statistik secara lengkap pada data
dataset_red.describe(include='all')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [18]:
import statistics as st

print('Mean dari Fixed Acidity:', st.mean(dataset_red['fixed acidity']))
print('Q1 dari Fixed Acidity:', st.median_low(dataset_red['fixed acidity']))
print('Median dari Fixed Acidity:', st.median(dataset_red['fixed acidity']))
print('Q3 dari Fixed Acidity:', st.median_high(dataset_red['fixed acidity']))
print('Modus dari Fixed Acidity:', st.mode(dataset_red['fixed acidity']))
print('Standard Deviation dari Fixed Acidity:', st.stdev(dataset_red['fixed acidity']))
print('Variance dari Fixed Acidity:', st.variance(dataset_red['fixed acidity']))

Mean dari Fixed Acidity: 8.31963727329581
Q1 dari Fixed Acidity: 7.9
Median dari Fixed Acidity: 7.9
Q3 dari Fixed Acidity: 7.9
Modus dari Fixed Acidity: 7.2
Standard Deviation dari Fixed Acidity: 1.7410963181276955
Variance dari Fixed Acidity: 3.031416388997817

# Challenge

In [19]:
white_wine = pd.read_csv("winequality-white.csv", delimiter=";")

In [20]:
white_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [22]:
white_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

## Mean

In [23]:
# Menampilkan mean dari salah satu kolom
print('Mean dari density', white_wine['density'].mean())

Mean dari density 0.9940273764801896

In [24]:
# Menampilkan mean dari seluruh data
print(white_wine.mean())

fixed acidity             6.854788
volatile acidity          0.278241
citric acid               0.334192
residual sugar            6.391415
chlorides                 0.045772
free sulfur dioxide      35.308085
total sulfur dioxide    138.360657
density                   0.994027
pH                        3.188267
sulphates                 0.489847
alcohol                  10.514267
quality                   5.877909
dtype: float64

## Median

In [25]:
# Menampilkan median dari salah satu kolom
print('Median dari density', white_wine['density'].median())

Median dari density 0.99374

In [28]:
# Menampilkan median dari keseluruhan data
print(white_wine.median())

fixed acidity             6.80000
volatile acidity          0.26000
citric acid               0.32000
residual sugar            5.20000
chlorides                 0.04300
free sulfur dioxide      34.00000
total sulfur dioxide    134.00000
density                   0.99374
pH                        3.18000
sulphates                 0.47000
alcohol                  10.40000
quality                   6.00000
dtype: float64

In [27]:
# Menampilkan median per row
print(white_wine.median(axis=1))

0       4.500000
1       2.450000
2       4.630000
3       4.595000
4       4.595000
          ...
4893    2.435000
4894    4.075000
4895    2.095000
4896    2.220000
4897    2.124705
Length: 4898, dtype: float64

## Modus

In [29]:
# Menampilkan modus dari salah satu kolom
print('Mode dari density: ', white_wine['density'].mode())

Mode dari density:  0    0.992
Name: density, dtype: float64

In [31]:
# Menampilkan modus semua data
print(white_wine.mode())

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            6.8              0.28          0.3             1.2      0.044

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 29.0                 111.0    0.992  3.14        0.5

   alcohol  quality
0      9.4        6

## Standard Deviation

In [32]:
# Menampilkan Standard Deviation salah satu kolom
print('Standard Deviation dari density: ', white_wine['density'].std())

Standard Deviation dari density:  0.0029909069169369354

In [33]:
# Menampilkan Standard Deviation semua data
print(white_wine.std())

fixed acidity            0.843868
volatile acidity         0.100795
citric acid              0.121020
residual sugar           5.072058
chlorides                0.021848
free sulfur dioxide     17.007137
total sulfur dioxide    42.498065
density                  0.002991
pH                       0.151001
sulphates                0.114126
alcohol                  1.230621
quality                  0.885639
dtype: float64

## Variance

In [34]:
# Menampilkan variance salah satu kolom
print('Variance dari density: ', white_wine['density'].var())

Variance dari density:  8.945524185781203e-06

In [35]:
# Menampilkan variance semua data
print(white_wine.var())

fixed acidity              0.712114
volatile acidity           0.010160
citric acid                0.014646
residual sugar            25.725770
chlorides                  0.000477
free sulfur dioxide      289.242720
total sulfur dioxide    1806.085491
density                    0.000009
pH                         0.022801
sulphates                  0.013025
alcohol                    1.514427
quality                    0.784356
dtype: float64

## Quartile

In [36]:
# Menampilkan Q1-Q4
print('Q1 dari density: ', np.quantile(white_wine['density'], 0.25))
print('Q2 dari density: ', np.quantile(white_wine['density'], 0.5))
print('Q2 atau median dari density: ', white_wine['density'].median())
print('Q3 dari density: ', np.quantile(white_wine['density'], 0.75))

Q1 dari density:  0.9917225000000001
Q2 dari density:  0.99374
Q2 atau median dari density:  0.99374
Q3 dari density:  0.9961

In [37]:
# Interquartile Range (IQR)
from scipy.stats import iqr

print('Menggunakan rumus Q3 - Q1: ', np.quantile(white_wine['density'], 0.75) - np.quantile(white_wine['density'], 0.25))
print('Menggunakan bantuan library scipy.stats', iqr(white_wine['density']))

Menggunakan rumus Q3 - Q1:  0.004377499999999923
Menggunakan bantuan library scipy.stats 0.004377499999999923

In [45]:
white_wine.describe(include=['int'], exclude=None, percentiles=[.20, .40, .60, .80])

           quality
count  4898.000000
mean      5.877909
std       0.885639
min       3.000000
20%       5.000000
40%       6.000000
50%       6.000000
60%       6.000000
80%       7.000000
max       9.000000

In [46]:
import statistics as st

print('Mean dari density:', st.mean(white_wine['density']))
print('Q1 dari density:', st.median_low(white_wine['density']))
print('Median dari density:', st.median(white_wine['density']))
print('Q3 dari densitydensity:', st.median_high(white_wine['density']))
print('Modus dari density:', st.mode(white_wine['density']))
print('Standard Deviation dari density:', st.stdev(white_wine['density']))
print('Variance dari density:', st.variance(white_wine['density']))

Mean dari density: 0.994027376480196
Q1 dari density: 0.99374
Median dari density: 0.99374
Q3 dari densitydensity: 0.99374
Modus dari density: 0.992
Standard Deviation dari density: 0.0029909069169369337
Variance dari density: 8.945524185781195e-06

In [47]:
!jupyter nbconvert --to html "./IS411_C-HY_00000053580_Rendy Wirawan Tamrin_Week-06.ipynb" --output-dir="./"

[NbConvertApp] Converting notebook ./IS411_C-HY_00000053580_Rendy Wirawan Tamrin_Week-06.ipynb to html
[NbConvertApp] Writing 649357 bytes to IS411_C-HY_00000053580_Rendy Wirawan Tamrin_Week-06.html